.card {
  user-select: none;
  display: flex;
  flex-direction: column;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  padding: 8px;
  font-size: 1rem;
}

.card[aria-selected="true"] {
  background-color: #f4f0ec;
  border-color: #40a9ff;
  border-width: 2px;
  outline: 0;
  padding: 7px;
}
