.spotlight-container {
  position: absolute;
  z-index: 30;
  width: 60%;
  height: calc(30vh);
  margin-left: 20%;
  padding-top: 0;
  pointer-events: auto;
  user-select: none;
  background-color: white;
  box-shadow:
    0px 2px 4px -1px rgba(0,0,0,0.2),
    0px 4px 5px 0px rgba(0,0,0,0.14),
    0px 1px 10px 0px rgba(0,0,0,0.12);
}

.spotlight {
  display: flex;
  flex-direction: column;
  height: 100%;
}
