.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__button {
  position: relative;
  display: inline-flex;

  align-items: center;
  padding: 4px 8px 4px 8px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 3px;
}

.dropdown__button:hover {
  background-color: #e0e0e0;
}

.dropdown__button:active {
  background-color: #d0d0d0;
}

.dropdown__button:disabled {
  pointer-events: none;
  color: lightgray;
}

.dropdown__content {
  position: absolute;
  display: none;
  z-index: 20;
  background-color: rgba(215, 215, 215, 0.2);
  backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
  padding: 8px 4px;
  width: min-content;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #DDDEDF;
  border-radius: 0.2rem;
}

.dropdown__content a {
  color: black;
  padding: 2px 16px;
  text-decoration: none;
  border-radius: 0.2rem;
  transition: all 0.2s;
  display: block;
  white-space: nowrap;
}

.dropdown__option--disabled {
  opacity: 0.4;
  pointer-events: none;
}

.dropdown a:hover {
  color: white;
  background-color: #5590F4;
}

.dropdown a:active {
  color: white;
  animation-duration: 0.15s;
  animation-fill-mode: both;
  animation-name: flash;
}

@keyframes flash {
  50% {
     opacity: 0;
  }
  100% {
     opacity: 1;
  }
}

.show {
  display: block;
}
