.sidebar-container {
  position: absolute;
  z-index: 20;
  width: 100%;

  /* Toolbar: 40px, Statusbar: 22px */
  height: calc(100vh - 62px);

  display: flex;
  pointer-events: none;
  user-select: none;
}

.map-controls {
  position: relative;
  flex: 1;
}

.ol-scale-bar {
  position: absolute;
  bottom: 16px;
  left: 8px;
}

.ol-scale-bar-inner div:nth-child(4) div {
  background-color: red !important;

}
.ol-scale-bar-inner div:nth-child(6) div {
  background-color: red !important;
}

.ol-scale-singlebar {
  box-sizing: border-box;
}
