.statusbar {
  box-sizing: border-box;
  display: flex;
  height: 22px;
  overflow-x: visible;
  overflow-y: visible;
  padding-left: 8px;
  padding-right: 8px;

  color: black;
  background-color: #f0f0f0;
  border-top: 1px solid #d0d0d0;
}

.statusbar__items-container {
  display: flex;
  font-size: 12px;
  gap: 16px;
}

.statusbar__left-items {
  flex-grow: 1;
}

.statusbar__right-items {
  flex-direction: row-reverse;
  flex-wrap: wrap;
}