.toolbar {
  box-sizing: border-box;
  display: flex;
  background-color: #f0f0f0;
  height: 40px;
  overflow-x: visible;
  overflow-y: visible;
  border-bottom: 1px solid #d0d0d0;
  -webkit-app-region: drag;
  user-select: none;
}

.toolbar__items-container {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 16px;
  color: #68696B;
}

.toolbar__left-items {
  padding-left: 0.5rem;
  flex-grow: 1;
}

.toolbar__right-items {
  padding-right: 0.5rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.toolbar__button {
  width: 28px;
  height: 28px;
  padding: 2px;
  border-radius: 3px;
}

.toolbar__button:hover {
  background-color: #e0e0e0;
}

.toolbar__button:active {
  background-color: #d0d0d0;
}