.feature-properties {
  flex: 0 0 21rem;
  font-size: 0.95rem;

  display: flex;
  flex-direction: column;
  background-color: white;
  pointer-events: auto;
  user-select: none;
  background-color: white;
  border-radius: 4px;
}

.panel-inset {
  padding-left: 8px;
  padding-right: 8px;
  overflow: auto;
}
