.feature-properties {
  position: absolute;
  z-index: 20;
  right: 0;
  width: 23rem;
  height: calc(100vh - 62px);

  display: flex;
  flex-direction: column;
  background-color: white;
  pointer-events: auto;
  user-select: none;
  background-color: white;
  border-radius: 4px;
}

.panel-inset {
  padding-left: 16px;
  padding-right: 16px;
  overflow: auto;
}
