.a0d5-panel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.a0d5-card {
  display: flex;
  flex-direction: column;
  border: 0.07rem solid lightgrey;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0.5rem;
  font-family: sans-serif;
  box-sizing: border-box;
  gap: 0.5rem;
}
