/*
  form-textfield
  form-textfield__input
  form-textfield__label
*/

.form-textfield {
  position: relative;
  height: 2.5rem;
}

.form-textfield__input {
  width: 100%;
  color: var(--color-gray-900);
  border-style: solid;
  border-bottom-width: 2px;
  border-color: var(--color-gray-300);
}

.form-textfield__input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-color: var(--color-blue-600);
}

.form-textfield__input:disabled {
  color: grey;
  background-color: inherit;
}

.form-textfield__input::placeholder {
  color: transparent;
}

.form-textfield__label {
  position: absolute;
  left: 0px;
  top: -1.25rem;
  color: var(--color-gray-600);

  /* text-sm */
  font-size: 0.875rem;
  line-height: 1.25rem;

  user-select: none;

  /* transition-all */
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.form-textfield__input:placeholder-shown ~ .form-textfield__label {
  top: 0px;

  /* text-base */
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-gray-400);
}

.form-textfield__input:focus ~ .form-textfield__label {
  top: -1.25rem;
  color: var(--color-gray-900);

  /* text-sm */
  font-size: 0.875rem;
  line-height: 1.25rem;
}
