
.service-abstract {
  height: 8rem;
  border-color: lightgrey;
  border-radius: 3px;
  border-width: 1px;
  padding: 4px;
  overflow: auto;
}

.layer-list {
  height: 15rem;
  overflow: auto;
  border-color: lightgrey;
  border-radius: 3px;
  border-width: 1px;
  padding: 4px;
}

.layer-list__entry {
  display: flex;
  gap: 6px;
  align-items: center;
}

.layer-list__entry[aria-selected="true"] {
  background-color: #f4f0ec;
}

.layer-list_checkbox {
  margin-left: 2px;
}

.map-preview {
  height: 15rem;
  border-color: lightgrey;
  border-radius: 3px;
  border-width: 1px;
}
