$color-primary-accent: #e03c31;
$color-primary-accent: #e9746c;
$color-secondary-accent: #1fc3ce;
$color-secondary-accent: #168b93;
$color-tag-hover: #8d8d8d;
$color-tag-hover: #b0b0b0;
$color-tag-hover: #dcdcdc;
$color-text-focus: #40a9ff;

.e3de-card {
  margin: 0.25rem 0;
  padding: 0.5rem;
  font-family: sans-serif;
  border: 0.5px solid lightgrey;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &[aria-selected="true"] {
    background-color: #f4f0ec;
    outline: 0;
  }

  .header {
    font-weight: 400;
  }

  .body {
    font-size: 0.86rem;
    font-weight: 300;
  }

  .avatar {
    margin-left: auto;
    text-align: right;
  }
}

.e3de-taglist {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.e3de-description {
  line-height: 1.5;
}

.e3de-card hr {
  margin: 0;
  border-top: 0.5px solid #CCC;
  width: 100%;
}

.e3de-card__title {
  padding: 0;
  background: inherit;
  text-align: start;
  width: 100%;
  font-size: 100%;

  &:focus {
    color: $color-text-focus;
  }

  &:hover {
    color: $color-text-focus;
  }

  &--highlight {
    font-weight: 500;
    text-decoration: underline;
  }
}

.e3de-button {
  height: 20px;
  background-color: inherit;
}

.e3de-icon {
  width: 20px;
  height: 20px;
  background-color: inherit;

  &:hover {
    color: $color-text-focus;
  }
}

.e3de-filter-container {
  padding: 24px 0 0 8px;
  border: 0.5px solid lightgrey;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}