$color-primary-accent: #e03c31;
$color-primary-accent: #e9746c;
$color-secondary-accent: #1fc3ce;
$color-secondary-accent: #168b93;
$color-tag-hover: #8d8d8d;
$color-tag-hover: #b0b0b0;
$color-tag-hover: #dcdcdc;
$color-text-focus: #40a9ff;

.e3de-card {
  margin: 0.25rem 0;
  padding: 0.5rem;
  font-family: sans-serif;
  border: 0.5px solid lightgrey;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &[aria-selected="true"] {
    background-color: #f4f0ec;
    outline: 0;
  }

  .header {
    font-weight: 400;

    &--highlight {
      font-weight: 500;
      text-decoration: underline;
    }
  }

  .body {
    font-size: 0.86rem;
    font-weight: 300;
  }

  .avatar {
    margin-left: auto;
    max-width: 3rem;
    max-height: 3rem;
    text-align: right;

    .image {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.e3de-taglist {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.e3de-description {
  line-height: 1.5;
}

.e3de-tag {
  font-size: 0.65em;
  padding: 1px 3px;
  border-radius: 4px;
  white-space: nowrap;
  display: inline-block;
  text-transform: uppercase;

  // Variantes: view, scope, system, user, plus.

  &--view {
    color: white;
    border: 1px solid $color-secondary-accent;
    background-color: $color-secondary-accent;
  }

  &--scope {
    color: white;
    border: 1px solid $color-primary-accent;
    background-color: $color-primary-accent;
  }

  &--system {
    border: 1px solid $color-primary-accent;
  }

  &--user {
    border: 1px solid $color-secondary-accent;
  }

  &--plus {
    border: 1px dashed darkgrey;
  }

  // Tags with some sort of interaction.

  &--active {
    @extend .e3de-tag;
    white-space: nowrap;
    display: inline-block;

    &:hover {
      background-color: $color-tag-hover;
      border-color: $color-tag-hover;
      color: black;
    }
  }

  &--named {
    display: flex;
    flex-direction: row;
    border: 1px solid $color-primary-accent;
    padding: 0;
    box-sizing: content-box;

    .name {
      color: white;
      background-color: $color-primary-accent;
      padding: 1px 3px;
      padding-right: 4px;
    }

    .label {
      padding: 1px 3px;
      padding-left: 4px;
    }
  }

  &__input {
    @extend .e3de-tag;
    background-color: inherit;
    width: 65px;

    &:focus {
      border: 1px dashed darkgrey;
    }
  }
}

.e3de-tag-icon {
  display: inline-block;
  color: inherit;
  line-height: 0;
  vertical-align: -.265em;
  margin-right: 3px;
}

.e3de-tag-close-icon {
  cursor: pointer;
  margin-left: 3px;
}

.e3de-card__title {
  padding: 0;
  background: inherit;
  text-align: start;
  width: 100%;

  &:focus {
    color: $color-text-focus;
  }

  &:hover {
    color: $color-text-focus;
  }
}

.e3de-button {
  height: 20px;
  background-color: inherit;
}

.e3de-icon {
  width: 20px;
  height: 20px;
  background-color: inherit;

  &:hover {
    color: $color-text-focus;
  }
}