
.a74a-taglist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2px;
}

.a74a-scope-selector {
  width: 28px;
  height: 28px;
}

.a74a-scope-selector-active {
  border: 1px solid #e9746c;
  border-radius: 2px;
  background-color: #e9746c;
}

.a74a-scope-selector:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.a74a-icon {
  color:#68696B;
  width: 26px;
  height: 26px;
  padding: 0px;
}

.a74a-icon-active {
  color: white;
  width: 26px;
  height: 26px;
  padding: 0px;
}

.a74a-named {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 2px;
}

.a74a-named-name {
  text-transform: uppercase;
  padding: 1px 3px;
  border: 1px solid #e9746c;
  border-radius: 2px;
  color: white;
  background-color: #e9746c;
}