
.e3de-sidebar {
  flex: 0 0 21rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  pointer-events: auto;
  user-select: none;
  border-radius: 4px;
  padding: 0.5rem;
  gap: 0.5rem;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  .scope-container {
    border: 1px solid #d9d9d9;
    padding: 0.5rem;
    border-radius: 2px;
  }
}

.e3de-list-container {
  height: 100%;
  overflow: auto;
}

.e3de-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.e3de-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.e3de-card-container {
  /* Strange way to ensure container size is measured correctly. */
  border: 1px solid transparent;
}
