$color-primary-accent: #e03c31;
$color-primary-accent: #e9746c;
$color-secondary-accent: #1fc3ce;
$color-secondary-accent: #168b93;
$color-tag-hover: #8d8d8d;
$color-tag-hover: #b0b0b0;
$color-tag-hover: #dcdcdc;
$color-text-focus: #40a9ff;

.e3de-sidebar {
  flex: 0 0 21rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  pointer-events: auto;
  user-select: none;
  border-radius: 4px;
  padding: 0.5rem;
  gap: 0.5rem;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  .scope-container {
    border: 1px solid #d9d9d9;
    padding: 0.5rem;
    border-radius: 2px;
  }
}

.e3de-list-container {
  height: 100%;
  overflow: auto;
  border: 1px solid darkgrey;
  border-width: 1px 0 1px 0;
  box-shadow:
    inset 0 20px 20px -20px rgba(10, 10, 10, 0.2),
    inset 0 -20px 20px -20px rgba(10, 10, 10, 0.2);
}

.e3de-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.e3de-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.e3de-card-container {
  /* Strange way to ensure container size is measured correctly. */
  border: 1px solid transparent;
}

.e3de-card {
  margin: 0.25rem 0;
  padding: 0.5rem;
  font-family: sans-serif;
  border: 1px solid darkgrey;
  border-radius: 2px;

  &[aria-selected="true"] {
    background-color: #f4f0ec;
    outline: 0;
  }

  .header {
    font-weight: 400;
  }

  .body {
    font-size: 0.86rem;
    font-weight: 300;
  }

  .avatar {
    margin-left: auto;
    max-width: 3rem;
    max-height: 3rem;
    text-align: right;

    .image {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.e3de-taglist {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.e3de-description {
  line-height: 1.5;
}

.e3de-tag {
  font-size: 0.65em;
  padding: 3px;
  border-radius: 4px;
  white-space: nowrap;
  display: inline-block;
  text-transform: uppercase;

  // Variantes: view, scope, system, user, plus.

  &--view {
    color: white;
    border: 1px solid $color-secondary-accent;
    background-color: $color-secondary-accent;
  }

  &--scope {
    color: white;
    border: 1px solid $color-primary-accent;
    background-color: $color-primary-accent;
  }

  &--system {
    border: 1px solid $color-primary-accent;
  }

  &--user {
    border: 1px solid $color-secondary-accent;
  }

  &--plus {
    border: 1px dashed darkgrey;
  }

  // Tags with some sort of interaction.

  &--active {
    font-size: 0.65em;
    padding: 3px;
    white-space: nowrap;
    display: inline-block;

    &:hover {
      background-color: $color-tag-hover;
      border-color: $color-tag-hover;
      color: black;
    }
  }

  &--named {
    display: flex;
    flex-direction: row;
    border: 1px solid $color-primary-accent;
    padding: 0;

    .name {
      color: white;
      background-color: $color-primary-accent;
      padding: 3px;
      padding-right: 4px;
    }

    .label {
      padding: 3px;
      padding-left: 4px;
    }
  }

  &__input {
    font-size: 0.65em;
    display: inline-block;
    background-color: inherit;
    border-radius: 4px;

    padding: 3px;
    line-height: 15.5px;
    width: 65px;

    &:focus {
      border: 1px dashed darkgrey;
    }
  }
}

.e3de-tag-icon {
  display: inline-block;
  color: inherit;
  line-height: 0;
  vertical-align: -.265em;
  margin-right: 3px;
}

.e3de-tag-close-icon {
  cursor: pointer;
  margin-left: 3px;
}


.e3de-card__title {
  padding: 0;
  background: inherit;
  text-align: start;
  width: 100%;

  &:focus {
    color: $color-text-focus;
  }
}
