@import 'presets';

.e3de-tag {
  font-size: 0.75em;
  padding: 1px 3px;
  border-radius: 2px;
  white-space: nowrap;
  display: flex;
  gap: 3px;

  text-transform: uppercase;

  // Variantes: view, scope, system, user, plus.

  &--view {
    color: white;
    border: 1px solid $color-secondary-accent;
    background-color: $color-secondary-accent;
  }

  &--scope {
    color: white;
    border: 1px solid $color-primary-accent;
    background-color: $color-primary-accent;
  }

  &--system {
    border: 1px solid $color-primary-accent;
  }

  &--user {
    border: 1px solid $color-secondary-accent;
  }

  &--plus {
    border: 1px dashed darkgrey;
  }

  // Tags with some sort of interaction.

  &--active {
    @extend .e3de-tag;
    white-space: nowrap;
    display: inline-block;

    &:hover {
      background-color: $color-tag-hover;
      border-color: $color-tag-hover;
      color: black;
      cursor: pointer;
    }
  }

  &--named {
    display: flex;
    flex-direction: row;
    border: 1px solid $color-primary-accent;
    padding: 0;
    box-sizing: content-box;

    .name {
      color: white;
      background-color: $color-primary-accent;
      padding: 1px 3px;
      padding-right: 4px;
    }

    .label {
      padding: 1px 3px;
      padding-left: 4px;
    }
  }

  &__input {
    @extend .e3de-tag;
    background-color: inherit;
    width: 65px;

    &:focus {
      border: 1px dashed darkgrey;
    }
  }
}

.e3de-tag-icon {
  height: 16px;
  color: grey;
}

.e3de-tag-close-icon {
  cursor: pointer;
}

.e3de-icon-tag {
  width: 22px;
  height: 22px;

  &:hover {
    background-color: $color-tag-hover;
    border-color: $color-tag-hover;
    cursor: pointer;
  }
}