input {
  border: 0;
}

*:focus {
  outline: 0;
}

div {
  font-family: Arial, Helvetica, sans-serif;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.map {
  z-index: 10;
  touch-action: none;
}

.panel-container {
  z-index: 20;
  pointer-events: none;

  /*
    Give WebKit a chance to calculate explicit height.
    This is necessary to stretch children to desired height.
  */
  height: calc(100vh - 4em);

  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;

  display: grid;
  grid-gap: 1em;
  grid-template-columns: 26em auto 26em;
  grid-template-rows: 10em auto;
  grid-template-areas:
    "T T T"
    "L . R";

}

.panel {
  pointer-events: auto;
  user-select: none;
  background-color: white;
  box-shadow:
    0px 2px 4px -1px rgba(0,0,0,0.2),
    0px 4px 5px 0px rgba(0,0,0,0.14),
    0px 1px 10px 0px rgba(0,0,0,0.12);
}

.panel-left {
  grid-area: L;
  display: flex;
  flex-direction: column;
}

.panel-right {
  grid-area: R;
  display: flex;
  flex-direction: column;
}

.panel-top {
  grid-area: T;
  display: flex;
  flex-direction: column;
}

.osd {
  border-width: 2px;
  border-style: dashed;
}

.palette-container {
  z-index: 30;
  pointer-events: none;
  padding-top: 1em;

  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40em;
  grid-template-areas:
    ". P .";
}

.palette {
  pointer-events: auto;
  user-select: none;
  grid-area: P;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 40em;
}

/* Project-List / Card */

.list {
  height: 100%;
  overflow: auto;
  padding: 8px;
}

/* .list-option:hover {
  background-color: rgba(0, 0, 0, 0.02);
} */

/* .list-option:focus-within {
  background-color: lightyellow;
} */

.card-container {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
  margin-bottom: 16px;
  transition: all 0.3s;
  padding: 2px;
}

.card-container:hover {
  border-color: #40a9ff;
}

.focus {
  border-color: #40a9ff;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
}

.project {
  user-select: none;
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.project[aria-selected="true"] {
  background-color: lightyellow;
}

.cardcontent {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding-right: 16px;
}

.cardtitle {
  font-size: 130%;
  margin-bottom: 8px;
  padding: 0;
  background: inherit;
  text-align: start;
}

.cardtitle:hover {
  color: #1890ff;;
}

.cardtitle:focus {
  color: #1890ff;;
}

.cardtext {
  font-size: 100%;
  color: grey;
}

.placeholder {
  font-size: 100%;
  color: grey;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}